{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" type="image/x-icon" href="{% static 'assets/icons/icono.png' %}" />
    <script src="{% static 'js/sweet-alert.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery-1.11.2.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>



<body class="full-cover-background" style="background-image:url({% static 'assets/img/font-login.jpg' %});">

    <div class="form-container">

        <p class="text-center" style="margin-top: 17px;">

            <img src="{% static 'assets/img/digitalLibrary-logo.png' %}" width="100" height="70">
        </p>

       {% block content %}
       {% endblock %} 

</body>

</html>