{% extends 'loginLayaout.html' %}

{% block content %}
<h4 class="text-center all-tittles" style="margin-bottom: 30px;">Registro</h4>

<form>

      <div class="group-material-login-double">
        <div class="group-material-login">
          <input type="text" class="material-login-control" name="realname" required="" maxlength="15">
          <span class="highlight-login"></span>
          <span class="bar-login"></span>
          <label><i class="zmdi zmdi-account"></i> &nbsp; Nombre</label>
        </div>

        <div class="group-material-login">
          <input type="text" class="material-login-control" name="lastname" required="" maxlength="15">
          <span class="highlight-login"></span>
          <span class="bar-login"></span>
          <label><i class="zmdi zmdi-account"></i> &nbsp; Apellido</label>
        </div>

      </div><br>

      <div class="group-material-login">
        <input type="email" class="material-login-control" name="nick" required="" maxlength="15">
        <span class="highlight-login"></span>
        <span class="bar-login"></span>
        <label><i class="zmdi zmdi-account"></i> &nbsp; Email</label>
      </div><br>

      <div class="group-material-login-double">

        <div class="group-material-login">
          <input type="number" class="material-login-control" name="dni" required="" maxlength="8">
          <span class="highlight-login"></span>
          <span class="bar-login"></span>
          <label><i class="zmdi zmdi-account"></i> &nbsp; Dni</label>
        </div>

        <div class="group-material-login">
          <input type="number" class="material-login-control" name="phone" required="" maxlength="15">
          <span class="highlight-login"></span>
          <span class="bar-login"></span>
          <label><i class="zmdi zmdi-account"></i> &nbsp; Telefono</label>
        </div>
      </div><br>

      <div class="group-material-login">
        <input type="password" class="material-login-control" name="pass" required="" maxlength="8">
        <span class="highlight-login"></span>
        <span class="bar-login"></span>
        <label><i class="zmdi zmdi-account"></i> &nbsp; Contraseña</label>
      </div><br>

      <div class="group-material-login">
        <input type="text" class="material-login-control" name="address" required="" maxlength="30">
        <span class="highlight-login"></span>
        <span class="bar-login"></span>
        <label><i class="zmdi zmdi-account"></i> &nbsp; Direccion</label>
      </div>

      <div class="group-material">
          <select class="material-control-login" required >
              <option value="" disabled="" selected="">Tipo de usuario</option>
              <option value="Student">Estudiante</option>
              <option value="Teacher">Docente</option>
              <option value="Admin">Administrador</option>
          </select>
      </div>

      <button class="btn-login" type="submit">Registrarse &nbsp; <i class="zmdi zmdi-arrow-right"></i></button>
    </form>
      <a href=".">
      <button class="btn-login2" type="submit"><i class="zmdi zmdi-arrow-left"></i> &nbsp; Atras </button>
    </a>
</div>

{% endblock %}